body {
	font-family: Arial; font-size: 18px; 
	border:0; margin: 10px; padding: 20;
}

h4 {
	float: left;
	margin-left: 25em;
}
form {
	margin-left: 1em;
	margin-bottom: .5em;	
}

label{
	float: left;
	width: 5em;
	text-align: right;
} 

input {
	margin-left: 1em;
	margin-bottom: .5em;
}
